@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

/* App */
.App {
  padding: 1em;
}

/* Form fields */
label {
  display: inline-block;
  width: 100px;
}

/* Header */
header {
  font-size: 30px;
  text-align: center;
}

/* Typography */
html {
  font-family: 'helvetica neue', sans-serif;
}

thead th,
tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* Table */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

/* Set alternate row colors */
tbody tr:nth-child(odd) {
  background-color: #FFEEC9;
}

tbody tr:nth-child(even) {
  background-color: white;
}

/* Limit content size in table cell */
.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}
